/*Navigation bar*/
.navbar {
	
	height: 75px;
	width: 100%;
	background-color: transparent;
	/*border-bottom: 5px solid red;*/
}

.navItems {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}
.nav-link {
	
	float: right;
	margin: 15px 10px 15px 0;
}

#brand {
	
	margin-top: 6px;
	margin-left: 15px;
}

/*body*/
body {
	 
	height: auto;
	width: auto;
	background-image: url(images/opening_credit.jpg);
	background-size: 1417px 630px;
	background-repeat: no-repeat;
	background-color: black;
	position: relative;
	 
}

.front img{
	
	height: 100px;
	width: 100px;
	position: absolute;
	border-radius: 50%;
	
}

#sarah {
	
	/*visibility: hidden;*/
	margin-top: -10px;
	margin-left: 460px;
	display: inline-block;
}

#cosima {
	
	/*visibility: hidden;*/
	margin-top: 18px;
	margin-left: 424px;
	display: inline-block;
}

#allison {
	
	/*visibility: hidden;*/
	margin-top: 40px;
	margin-left: 424px;
	display: inline-block;
}

#helena {
	
	/*visibility: hidden;*/
	margin-top: 18px;
	margin-left: 424px;
	display: inline-block;
}

#rachel {
	/*visibility: hidden;*/
	margin-top: 18px;
	margin-left: 424px;
	display: inline-block;
}



