
.navbar {
	height: 75px;
	width: 100%;
	background-color: black;
	border-bottom: 5px solid red;
}

.navItems {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}
.nav-link {
	border: 5px solid black;
	border-radius: 10px;
	background-color: #e4e4c7;
	color: black;
	font-size: 25px;
	float: right;
	margin: 15px 10px 15px 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 5px;
}

#brand {
	margin-top: 10px;
	margin-left: 15px;
	color: white;
	font: normal normal 500 50px/150% Copperplate, 'Copperplate Gothic Light', fantasy;
}

 

.container {
	height: 650px;
	width: 1417px;
	 
	background: url(images/opening_credit.jpg);
	background-size: 1417px 630px;
	background-repeat: no-repeat;
}

.cosima {
	height: 75px;
	width: 75px;
	color: white;
	margin-left: 100px;
	z-index: 1;
}



